<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.macro.mall.service.dao.OmsCartItemDao">
    <resultMap id="BaseResultMap" type="com.macro.mall.model.OmsCartItem">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="product_id" property="productId" jdbcType="BIGINT"/>
        <result column="product_sku_id" property="productSkuId" jdbcType="BIGINT"/>
        <result column="member_id" property="memberId" jdbcType="BIGINT"/>
        <result column="quantity" property="quantity" jdbcType="INTEGER"/>
        <result column="price" property="price" jdbcType="DECIMAL"/>
        <result column="sp1" property="sp1" jdbcType="VARCHAR"/>
        <result column="sp2" property="sp2" jdbcType="VARCHAR"/>
        <result column="sp3" property="sp3" jdbcType="VARCHAR"/>
        <result column="product_pic" property="productPic" jdbcType="VARCHAR"/>
        <result column="product_name" property="productName" jdbcType="VARCHAR"/>
        <result column="product_sub_title" property="productSubTitle" jdbcType="VARCHAR"/>
        <result column="product_brand" property="productBrand" jdbcType="VARCHAR"/>
        <result column="status" property="status" jdbcType="INTEGER"/>
        <result column="create_date" property="createDate" jdbcType="TIMESTAMP"/>
    </resultMap>

    <select id="listAll" resultMap="BaseResultMap">
        SELECT * FROM oms_cart_item
    </select>

    <select id="listByMemberId" resultMap="BaseResultMap">
        SELECT * FROM oms_cart_item
        WHERE member_id = #{memberId} AND status = 1
    </select>

    <select id="getById" resultMap="BaseResultMap">
        SELECT * FROM oms_cart_item WHERE id = #{id}
    </select>

    <insert id="insert" parameterType="com.macro.mall.model.OmsCartItem">
        INSERT INTO oms_cart_item
        (product_id, product_sku_id, member_id, quantity,
         price, sp1, sp2, sp3, product_pic,
         product_name, product_sub_title, product_brand,
         status, create_date)
        VALUES
            (#{productId}, #{productSkuId}, #{memberId}, #{quantity},
             #{price}, #{sp1}, #{sp2}, #{sp3}, #{productPic},
             #{productName}, #{productSubTitle}, #{productBrand},
             #{status}, #{createDate})
    </insert>

    <update id="update" parameterType="com.macro.mall.model.OmsCartItem">
        UPDATE oms_cart_item
        SET quantity = #{quantity},
            price = #{price},
            sp1 = #{sp1},
            sp2 = #{sp2},
            sp3 = #{sp3},
            status = #{status}
        WHERE id = #{id}
    </update>

    <delete id="delete" parameterType="java.lang.Long">
        DELETE FROM oms_cart_item WHERE id = #{id}
    </delete>
</mapper>