<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.macro.mall.service.dao.UmsMemberReceiveAddressDao">
    <resultMap id="BaseResultMap" type="com.macro.mall.model.UmsMemberReceiveAddress">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="member_id" property="memberId" jdbcType="BIGINT"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="phone_number" property="phoneNumber" jdbcType="VARCHAR"/>
        <result column="default_status" property="defaultStatus" jdbcType="INTEGER"/>
        <result column="post_code" property="postCode" jdbcType="VARCHAR"/>
        <result column="province" property="province" jdbcType="VARCHAR"/>
        <result column="city" property="city" jdbcType="VARCHAR"/>
        <result column="region" property="region" jdbcType="VARCHAR"/>
        <result column="detail_address" property="detailAddress" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="listAll" resultMap="BaseResultMap">
        SELECT * FROM ums_member_receive_address
    </select>

    <select id="listByMemberId" resultMap="BaseResultMap">
        SELECT * FROM ums_member_receive_address
        WHERE member_id = #{memberId}
    </select>

    <select id="getById" resultMap="BaseResultMap">
        SELECT * FROM ums_member_receive_address
        WHERE id = #{id}
    </select>

    <insert id="insert" parameterType="com.macro.mall.model.UmsMemberReceiveAddress">
        INSERT INTO ums_member_receive_address
        (member_id, name, phone_number, default_status,
         post_code, province, city, region, detail_address)
        VALUES
            (#{memberId}, #{name}, #{phoneNumber}, #{defaultStatus},
             #{postCode}, #{province}, #{city}, #{region}, #{detailAddress})
    </insert>

    <update id="update" parameterType="com.macro.mall.model.UmsMemberReceiveAddress">
        UPDATE ums_member_receive_address
        SET name = #{name},
            phone_number = #{phoneNumber},
            default_status = #{defaultStatus},
            post_code = #{postCode},
            province = #{province},
            city = #{city},
            region = #{region},
            detail_address = #{detailAddress}
        WHERE id = #{id}
    </update>

    <delete id="delete" parameterType="java.lang.Long">
        DELETE FROM ums_member_receive_address WHERE id = #{id}
    </delete>
</mapper>